tr[class="read"]{
  background: linear-gradient(white 10%,green 10%,white 80%)
}
tr[class="to-read"]{
  background: linear-gradient(gold 20%,yellow 80%)
}
tr[class="in-progress"]{
  background: linear-gradient(white 10%,grey 10%,white 80%)
}
span{
  display: inline-block;
}
tr[class="to-read"] span[class="status"]{
  border: 1px solid black;
   background: linear-gradient(grey 10%,orange 10%,yellow 80%)
  }
  tr[class="read"] span[class="status"]{
     border: 1px solid black;
     background: linear-gradient(white 20%,green)
  }
  tr[class="in-progress"] span[class="status"]{
     border: 1px solid black;
     background: linear-gradient(white 20%,grey)
  }
  span[class="status"], span[class^="rate"]{
    height: 20px;
    width: 60px;
    padding: 23px;


  }
span[class^="rate"] > span{
  border: 2px solid black;
  border-radius: 20px;
  margin: 13px;
  height: 20px;
  width: 40px;
  background-color: whitesmoke;
}
span[class~="one"] span:first-of-type {
background: linear-gradient(blue, red)
}
span[class~="two"] span:nth-of-type(-n+2) {
background: linear-gradient(blue, red)
}
span[class~="three"] span{
  background: linear-gradient(grey, white 60%)
}
*{
  text-align: center;
  align-content: center;
   font-family: sans-serif;
}
h1{
 color: whitesmoke;
  font-weight: bold;
  text-shadow: 4px 4px 17px;
  background: radial-gradient(circle, black, white);
}
table {
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 60%; 
}
th{
 
  font-weight: bold;
  background: linear-gradient(white ,rgba(124, 121, 121, 0.5),  white )
}
body{
  background-image: url("https://images.unsplash.com/photo-1542204165-65bf26472b9b?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;      
  background-repeat: no-repeat;
  background-position: center; 
 
}
