html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: whitesmoke;
  font-family: sans-serif
}
body {
  display: grid;
  grid-template-columns: 800px 1fr;
}
#navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 2px solid black;
}
  #main-doc {
  margin-left: 300px;
  padding: 10px;
}

  #navbar a{
    display: block;
    text-decoration: none;
      border: 1px solid black;
      color: black;
      font-size: 20px;
      text-align: center;
      margin: 0;
      gap: 0px;
      padding: 10px;
      
      
  }
  #navbar header{
      margin: 0;
  padding: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  #navbar ul {
  padding: 0;
  margin: 0;
  
}
#navbar li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.code{
  background-color: rgb(214, 214, 214);
  padding:20px;
}